{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <div class="row mt-2">
    <div class="col-lg-12 box">
      <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'store' %}">Continue shopping</a>
      </div>
    </div>
    <br>
     <hr>
    <div class="col-lg-12 box">
        <table class="table">
            <tr>
                <td>Items: {{ order.get_total }}</td>
                <td>Total: {{order.get_cart_total | floatformat:2}}
                    
                </td>
                <td>
                    <a class="btn btn-outline-success" href="{% url 'checkout' %}">Checkout</a>
                </td>
            </tr>
        </table>
    </div>
    <br>
   
    <div class="col-lg-12 box">
        <table class="table">
            <tr>
                <th></th>
                <th>Items</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% for item in items %}
            <tr>
                <td><img class="cart-img" src="{{  item.product.imageURL }}" alt=""></td>
                <td>{{item}}</td>
                <td>${{item.product.price}}</td>
                <td>
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <a href="{% url 'increase-quantity' item.id%}" class=""><i class="fas fa-caret-up chg-quantity"></i></a>
                        <a href="{% url 'decrease-quantity' item.id %}"><i class="fas fa-caret-down chg-quantity"></i></a>
                    </div>
                </td>
                <td>${{item.get_total | floatformat:2}}</td>
                <td><a href="{% url 'remove-from-cart' item.product.id %}"><i class="fas fa-trash text-danger"></i></a></td>
            {% endfor %}
            </tr>
        </table>
    </div>
  </div>
{% endblock %}
