{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <div class="row mt-5 mb-3 card-deck">
    <div class="col-md-8">
      <div class="card box-shadow">
        <div class="card-header">
          <img class="img-thumbnail" src="{{ product.imageURL }}" alt="" />
        </div>
      </div>
    </div>
    <div class="details col-md-4">
      <h2 class="product-title">{{ product.name }}</h2>
      <div class="d-block">Category:<h4> <a href="">{{ product.category }}</a></h4></div>
      <div class="rating">
        <div class="stars font">
          <i class="h3 far fa-star checked"></i>
          <i class="h3 far fa-star"></i>
          <i class="h3 far fa-star"></i>
          <i class="h3 far fa-star"></i>
          <i class="h3 far fa-star"></i>
        </div>
        <span class="review-no" style="font-size: 20px;">41 reviews</span>
      </div>

      <p class="product-description" style="font-size: 18px;">{{ product.description }}</p>
      <h4 class="price">Price: <span>$180</span></h4>
      <p class="vote">
        <strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong>
      </p>
      <div class="action">
            <a class="btn btn-success" href="{% url 'add-to-cart' product.id %}">Add to cart</a>   
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <h4>You may also like</h4>
     {% for product in products %}
            <div class="col-md-3">
                <div class="card box-shadow">
                    <div class="card-header">
                        <img class="img-thumbnail" src="{{ product.imageURL }}" style="height:195px;width:195px" alt="">
                    </div>
                    <div class="card-body">
                        <h5>{{product.name|truncatechars:22}}</h5>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-success" href="{% url 'add-to-cart' product.id %}">Add </a>    
                        <a class="d-inline btn btn-info block" href="{% url 'product-detail' product.id %}">View </a>                   
                        <h4 class="d-inline card-title pricing-card-title">${{product.price}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
  </div>
{% endblock %}
