.bg-dark {
    background-color: #3b5f5c !important;
}

.cart-total {
    display: block;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    margin-left: 2px;
}

.box {
    padding: 10px;
    box-shadow: 5px 5px 8px grey;
    margin: 20px;
}

.quantity {
    display: inline-block;
    font-size: 18px;
    margin-top: 2px;
}

.chg-quantity {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
}

.cart-img {
    height: 80px;
    width: 80px;
}

.carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
}

.carousel img {
    width: 100%;
    transition: all 0.3s ease;
    border: 8px solid white;
}

.item {
    position: absolute;
    display: none;
}

.main {
    display: block;
}